# Rules in this file were initially inferred by Visual Studio IntelliCode from the F:\source\module\hmc-win32\source\CPP\msvc codebase based on best match to current usage at 2024/1/27
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

