node_modules/
source/CPP/build/
.DS_Store
.vs/
.vscode/
.lh/
build/
npm-debug.log
dist/
source/mian/hmc.d.ts
source/mian/index.d.ts
source/mian/index.d.ts
native.d.ts
source/mian/chcpList.js
source/mian/hmc.js
source/CPP_Reconfig/util/dll/ConsoleApplication1/Debug
source/CPP_Reconfig/util/dll/ConsoleApplication1/x64
source/CPP_Reconfig/util/dll/ConsoleApplication1/Release
source/CPP_Reconfig/util/dll/ConsoleApplication1/.vs
source/CPP_Reconfig/util/dll/hmc_win32_gui_lib/Debug
source/CPP_Reconfig/util/dll/hmc_win32_gui_lib/x64
source/CPP_Reconfig/util/dll/hmc_win32_gui_lib/Release
source/CPP_Reconfig/util/dll/hmc_win32_gui_lib/.vs
source/CPP_Reconfig/build/
Debug/
